footer {
  background-color: #1e1e1e;
  color: white;
  margin-top: 40px;
  height: 15vh;
  width: 100%;
}

footer > h2 {
  display: block;
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#bootstrap-label-footer {
  color: blueviolet;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.5);
}
