/* footer {
  background-color: #1e1e1e;
  color: white;
  margin-top: 40px;
  height: 15vh;
  width: 100%;
}

footer > h2 {
  display: block;
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#bootstrap-label-footer {
  color: blueviolet;
} */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1e1e1e;
  margin-top: 50px;
  height: 100px;
}

footer h5 {
  color: white;
}

footer a {
  text-align: center;
  height: auto;
  width: 30px;
  aspect-ratio: 1;
  text-decoration: none;
  padding: 0px;
  margin: 0px 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerImage {
  height: 40px;
  border-radius: 0px;
  filter: grayscale(1);
  transition: all 0.6s;
  padding: 0px;
}

footer a:hover {
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 50%;
}

footer a:hover i {
  color: black;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

#linkedin {
  filter: invert(1);
}

#mailFooter {
  filter: invert(1);
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.5);
}
